<!-- web/templates/page/index.html.eex -->


<div class="col-lg-4">
  <div id="elm-app"> </div>
</div>

<script type="text/javascript">
  var elmDiv = document.getElementById('elm-app');
  Elm.Main.embed(elmDiv);
</script>
